[submodule "Monokai/monokai.terminal"]
	path = Monokai/monokai.terminal
	url = https://github.com/stephenway/monokai.terminal.git
[submodule "tomorrow-theme/tomorrow-theme"]
	path = tomorrow-theme/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "solarized/osx-terminal.app-colors-solarized"]
	path = solarized/osx-terminal.app-colors-solarized
	url = https://github.com/tomislav/osx-terminal.app-colors-solarized
[submodule "Smyck/Smyck-Color-Scheme"]
	path = Smyck/Smyck-Color-Scheme
	url = https://github.com/hukl/Smyck-Color-Scheme/
